Interface/dashboard.json
[{"id":"3153c41abdb352df","type":"tab","label":"Dashboard","disabled":false,"info":"","env":[]},{"id":"67dbfa0a2bb4e434","type":"link call","z":"3153c41abdb352df","name":"","links":["13278b09b08f89cb"],"linkType":"static","timeout":"90","x":370,"y":100,"wires":[["5067d1de437bec5b"]]},{"id":"3d14736499ac14bb","type":"inject","z":"3153c41abdb352df","name":"","props":[{"p":"payload.start","v":"30","vt":"num"},{"p":"payload.room","v":"myRoom","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":100,"wires":[["67dbfa0a2bb4e434"]]},{"id":"1d11ac9ba319ea06","type":"ui_chart","z":"3153c41abdb352df","name":"","group":"408db92ef486c61d","order":1,"width":"20","height":"10","label":"Smartphone in all rooms","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":770,"y":100,"wires":[[]]},{"id":"5067d1de437bec5b","type":"function","z":"3153c41abdb352df","name":"Format","func":"var formattedData = [];\nvar points = [];\nvar series = [];\n\nObject.keys(msg.payload.smartphones).forEach(function (time) {\n    var count = msg.payload.smartphones[time];\n    series.push({ \"x\": parseInt(time), \"y\": count });\n});\n\npoints.push(series);\nvar labels = [\"Smartphones\"];\n\nvar formattedObj = {\n    \"series\": [\"Smartphones\"],\n    \"data\": points,\n    \"labels\": labels\n};\n\nformattedData.push(formattedObj);\nmsg.payload = formattedData;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":100,"wires":[["1d11ac9ba319ea06"]]},{"id":"408db92ef486c61d","type":"ui_group","name":"Default","tab":"ab84fe3ddf7509d9","order":1,"disp":false,"width":"20","collapse":false,"className":""},{"id":"ab84fe3ddf7509d9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]