Interface/nodeRed.json
[{"id":"630ec83376dcf61e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"36f272c4cbca2578","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["82db18f1829fd9db","27ce5e6978a41ef6","371efcc39240c573","d4b1fbc4498f3577","9521c0ff78c6a6e9","8f15dce2b08a242b","ec239e97428a2c8c"],"x":634,"y":19,"w":472,"h":302},{"id":"34d5606df48851af","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ed73cd14e04c1822","6d7fa78d0c906ef3","8a7346875f82a369","9a88ef3f15c18975","0e6bbec541088d62","1de467962a83cdd6","6b6a09ed2d156c63","6ecd2367837a4239","f2396e3a49c39d59","73f0dda843a84d28"],"x":34,"y":1039,"w":752,"h":242},{"id":"5fcbc5f9fccf1bf3","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b7a75e067edc4298","518f836f8d5a6738","c0f57dbf6e71f6fb","6101a90714ce27a1","c98df91ffece67dd","8dd0725bc8ef7363","b4fe10100fc47db7","4ef035894ef8ad74","0c46e6446a8632f2","15d1640fdce173b1"],"x":34,"y":19,"w":512,"h":442},{"id":"e7312c9e8691b31d","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["195b7d44dc25090c","0b562300de2a2886","a4e83140de7ea943","8057319203a71355","4a5e25d5e1ebd799"],"x":634,"y":339,"w":792,"h":122},{"id":"b80390a00df50824","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["950d5b9f8d42f71f","b78cddb2f08280fa","1de68601b7e4fcbc","4b22d9213119e9ed","fd92d776b1a844a9","46414c9aa4b414ad","f8c6a97e8ca2e959","fd2418ee55b97852","b151d3fd82d4075d","c4db9b58f96ea960","845e93645d7806ab","a9345311884dd855","9ade60dcc2e9fbeb","a5b81aaae8588416","3783943dc69b393a","ace979e4420290b1","d1a757fe92f6965b","82f12933ead921f4","49827c09f1bcfc86","c0cb98991f737aa4"],"x":34,"y":499,"w":1072,"h":522},{"id":"bd77f382bb9fce85","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["07acc6bbbce67d48","48ef0f03b43b9850","69dac61878054305","d07b02283202aacd","e0cadfed8ecc1224","a5f7a5396a822bde","745acb1babc7edb2","82290837ffd06189","34b355b7076fe21c","76409c7a7dc8ceac","de589c37f976b00d","5a309bb2ddb9d0d4","449f18aabf46820a","33f367e7f04dae21","9b1e943cddcca6aa","863d1cde9938d720","9695e7f2e2f2320f","7c309b8e7e323d9b","a2da4d419d75e8e3","ddd3127baca21d04","9639e76df707ac29","2f84b3e265d8baf1","6eb21c34089ebe1a","fef7c31783107b35","ab5b759bc6663f7e","1992905d9d38fe26"],"x":34,"y":1339,"w":1172,"h":642},{"id":"15d1640fdce173b1","type":"junction","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","x":320,"y":280,"wires":[["c0f57dbf6e71f6fb","0c46e6446a8632f2"]]},{"id":"1cba11149853fd8c","type":"mqtt-broker","name":"Pi MQTT Broker","broker":"192.168.0.3","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d017f662582760c5","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"Pi InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://192.168.0.3:8086","rejectUnauthorized":false},{"id":"b7a75e067edc4298","type":"inject","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Scan myRoom","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"myRoom","payloadType":"str","x":160,"y":140,"wires":[["15d1640fdce173b1"]]},{"id":"518f836f8d5a6738","type":"inject","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Scan all rooms","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"all","payloadType":"str","x":160,"y":220,"wires":[["15d1640fdce173b1"]]},{"id":"c0f57dbf6e71f6fb","type":"mqtt out","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Trigger Scan","topic":"roomUtilization/doScan","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1cba11149853fd8c","x":430,"y":240,"wires":[]},{"id":"6101a90714ce27a1","type":"comment","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Trigger manually","info":"# Scan result\n## Subscribe to\nroomUtilization/scans/myRoom\nor\nroomUtilization/scans/+\n\n## Publish to\nroomUtilization/scans/myRoom\n\n# Trigger\n## Subscribe to\nroomUtilization/doScan/+\n\n## Publish to\nroomUtilization/doScan/all\nor\nroomUtilization/doScan/myRoom","x":160,"y":100,"wires":[]},{"id":"c98df91ffece67dd","type":"inject","z":"630ec83376dcf61e","d":true,"g":"5fcbc5f9fccf1bf3","name":"Scan myRoom","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"myRoom","payloadType":"str","x":160,"y":340,"wires":[["15d1640fdce173b1"]]},{"id":"8dd0725bc8ef7363","type":"inject","z":"630ec83376dcf61e","d":true,"g":"5fcbc5f9fccf1bf3","name":"Scan all rooms","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"all","payloadType":"str","x":160,"y":420,"wires":[["15d1640fdce173b1"]]},{"id":"b4fe10100fc47db7","type":"comment","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Auto Trigger every 2min","info":"","x":180,"y":300,"wires":[]},{"id":"82db18f1829fd9db","type":"file","z":"630ec83376dcf61e","g":"36f272c4cbca2578","name":"Make Known smartphones.json","filename":"classify/smartphones.json","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":950,"y":120,"wires":[[]]},{"id":"27ce5e6978a41ef6","type":"inject","z":"630ec83376dcf61e","g":"36f272c4cbca2578","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"Phone\",\"iPhone\",\"Samsung Galaxy\",\"Google Pixel\",\"OnePlus\",\"Xiaomi\",\"Huawei\",\"LG\",\"Sony Xperia\",\"Motorola\",\"Nokia\",\"HTC\",\"BlackBerry\",\"Lenovo\",\"ASUS\",\"OPPO\",\"Vivo\",\"Realme\",\"Samsung Galaxy S21\",\"iPhone 12\",\"Google Pixel 5\",\"OnePlus 9\",\"Xiaomi Mi 11\",\"Huawei P40\",\"LG Velvet\",\"Sony Xperia 1 II\",\"Motorola Moto G Power\",\"Nokia 8.3\",\"HTC U12+\",\"BlackBerry Key2\",\"Lenovo Legion Phone Duel\",\"ASUS ROG Phone 5\",\"OPPO Find X3 Pro\",\"Vivo X60 Pro\",\"Realme 8 Pro\",\"Samsung Galaxy Note 20 Ultra\",\"iPhone SE\",\"Google Pixel 4a\",\"OnePlus Nord\",\"Xiaomi Redmi Note 10\",\"Huawei Mate 40 Pro\",\"LG Wing\",\"Sony Xperia 5 II\",\"Motorola Razr\",\"Nokia 5.4\",\"HTC Desire 20+\",\"BlackBerry Evolve\",\"Lenovo K12 Note\",\"ASUS ZenFone 7 Pro\",\"OPPO Reno5 Pro+\",\"Vivo V20 Pro\",\"Realme X7 Pro\",\"Samsung Galaxy Z Fold 2\",\"iPhone 11\",\"Google Pixel 3a\",\"OnePlus 8T\",\"Xiaomi Mi 10T Pro\",\"Huawei P30 Pro\",\"LG G8 ThinQ\"]","payloadType":"json","x":730,"y":120,"wires":[["82db18f1829fd9db","d4b1fbc4498f3577"]]},{"id":"371efcc39240c573","type":"file","z":"630ec83376dcf61e","g":"36f272c4cbca2578","name":"Make countSmartphones.py","filename":"classify/countSmartphones.py","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":940,"y":200,"wires":[["8f15dce2b08a242b"]]},{"id":"d4b1fbc4498f3577","type":"function","z":"630ec83376dcf61e","g":"36f272c4cbca2578","name":"countSmarthphones.py","func":"var pythonCode = `\nimport json\nimport sys\n\n\ndef rule_based_classification(descriptor, knownSmartphones):\n    for knownSmartphone in knownSmartphones:\n        if (knownSmartphone.lower().replace(\" \", \"\") in descriptor.lower().replace(\" \", \"\")):\n            return True\n\ndef appendUnknownDeviceIfNotAlreadyIn(unknownDevices, descriptor):\n    alreadyIn = False\n    for unknownDevice in unknownDevices:\n        if (unknownDevice == descriptor):\n            alreadyIn = True\n            break\n    if (alreadyIn == False):\n        unknownDevices.append(descriptor)\n\n\ninputFile = sys.argv[1]\nif (inputFile == None):\n    print(\"No input file specified\")\n    exit(1)\n\nwith open(inputFile, \"r\") as file:\n    json_data = json.load(file)\n\nwith open(\"smartphones.json\", \"r\") as file:\n    knownSmartphones = json.load(file)\n\nwith open(\"unknownDevices.json\", \"r\") as file:\n    unknownDevices = json.load(file)\n\ncounter = 0\nfor result in json_data[\"scanresult\"]:\n    descriptor = result[\"descriptor\"]\n    if (descriptor is not None and rule_based_classification(descriptor, knownSmartphones)):\n        counter += 1\n    else :\n        appendUnknownDeviceIfNotAlreadyIn(unknownDevices, descriptor)\n\nwith open(\"unknownDevices.json\", \"w\") as file:\n    json.dump(unknownDevices, file)\n\n# append smartphones to the json_data\njson_data[\"smartphones\"] = counter\n\n\nprint(json.dumps(json_data))\n\n`;\n\nmsg.payload = pythonCode;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":160,"wires":[["371efcc39240c573"]]},{"id":"07acc6bbbce67d48","type":"comment","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Some Mock Input","info":"","x":170,"y":1420,"wires":[]},{"id":"4ef035894ef8ad74","type":"comment","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Trigger Scan","info":"","x":350,"y":60,"wires":[]},{"id":"950d5b9f8d42f71f","type":"comment","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Receive Scan Results","info":"","x":160,"y":540,"wires":[]},{"id":"b78cddb2f08280fa","type":"comment","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Collect the incoming scan results parts","info":"","x":450,"y":540,"wires":[]},{"id":"9521c0ff78c6a6e9","type":"comment","z":"630ec83376dcf61e","g":"36f272c4cbca2578","name":"Init (Needed once)","info":"","x":770,"y":60,"wires":[]},{"id":"8f15dce2b08a242b","type":"function","z":"630ec83376dcf61e","g":"36f272c4cbca2578","name":"Empty JSon Array","func":"msg.payload = '[ ]';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":240,"wires":[["ec239e97428a2c8c"]]},{"id":"ec239e97428a2c8c","type":"file","z":"630ec83376dcf61e","g":"36f272c4cbca2578","name":"Make unknownDevices.json","filename":"classify/unknownDevices.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":940,"y":280,"wires":[[]]},{"id":"48ef0f03b43b9850","type":"comment","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Testing/Debugging","info":"","x":610,"y":1380,"wires":[]},{"id":"ed73cd14e04c1822","type":"file in","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"Read unknownDevices.json","filename":"classify/unknownDevices.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":340,"y":1120,"wires":[["8a7346875f82a369"]]},{"id":"6d7fa78d0c906ef3","type":"inject","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1120,"wires":[["ed73cd14e04c1822"]]},{"id":"8a7346875f82a369","type":"debug","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":1120,"wires":[]},{"id":"9a88ef3f15c18975","type":"comment","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"Read unknown Devices","info":"","x":180,"y":1080,"wires":[]},{"id":"0e6bbec541088d62","type":"inject","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"Fetch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1240,"wires":[["1de467962a83cdd6"]]},{"id":"1de467962a83cdd6","type":"function","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"Query","func":"msg.query = `from(bucket: \"PEOPLE_COUNTER\")\n  |> range(start: -24h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"ScanResult\")\n  |> filter(fn: (r) => r[\"_field\"] == \"Smartphones\")\n  |> aggregateWindow(every: 2m, fn: last, createEmpty: false)\n  |> yield(name: \"mean\")`;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1240,"wires":[["6b6a09ed2d156c63"]]},{"id":"6b6a09ed2d156c63","type":"influxdb in","z":"630ec83376dcf61e","g":"34d5606df48851af","influxdb":"d017f662582760c5","name":"Fetch last 24h","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"enrico","x":460,"y":1240,"wires":[["6ecd2367837a4239","f2396e3a49c39d59"]]},{"id":"6ecd2367837a4239","type":"debug","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":1240,"wires":[]},{"id":"f2396e3a49c39d59","type":"table-viewer","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"","property":"payload","fieldType":"msg","width":"480","height":"240","rows":10,"active":false,"outputs":0,"x":670,"y":1200,"wires":[]},{"id":"73f0dda843a84d28","type":"comment","z":"630ec83376dcf61e","g":"34d5606df48851af","name":"Get last 24h from DB","info":"","x":180,"y":1180,"wires":[]},{"id":"0c46e6446a8632f2","type":"debug","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Scan trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":320,"wires":[]},{"id":"195b7d44dc25090c","type":"function","z":"630ec83376dcf61e","g":"e7312c9e8691b31d","name":"Create new Config","func":"const mqttBrokerAddress = null;\nconst mqttUser = null;\nconst mqttPassword = null;\nconst mqttRoomName = null;\nconst mqttBaseTopic = null;\n\n// Define your JSON data\nconst jsonData = {\n    \"LOGGING\": false,\n    \"LOG_LEVEL\": 0,\n    \"MQTT_CLIENT_CONFIG\": {\n        \"MQTT_BROKER_ADDRESS\": mqttBrokerAddress,\n        \"MQTT_USER\": mqttUser,\n        \"MQTT_PASSWORD\": mqttPassword,\n        \"MQTT_ROOM_NAME\": mqttRoomName,\n        \"MQTT_BASE_TOPIC\": mqttBaseTopic\n    },\n    \"SCANNER_CONFIG\": {\n        \"TIME_BETWEEN_SCANS_MS\": null,\n        \"SCAN_DURATION_MS\": null,\n        \"SCAN_CONNECTION_TIMEOUT_MS\": null,\n        \"ACTIVE_SCAN\": true,\n        \"FILTER_RSSI\": null\n    }\n};\n\nmsg.payload = jsonData\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":420,"wires":[["0b562300de2a2886"]]},{"id":"4a5e25d5e1ebd799","type":"mqtt out","z":"630ec83376dcf61e","g":"e7312c9e8691b31d","name":"Update Config","topic":"roomUtilization/updateConfig","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1cba11149853fd8c","x":1320,"y":420,"wires":[]},{"id":"0b562300de2a2886","type":"json","z":"630ec83376dcf61e","g":"e7312c9e8691b31d","name":"confi.json","property":"payload","action":"","pretty":false,"x":1160,"y":420,"wires":[["4a5e25d5e1ebd799"]]},{"id":"a4e83140de7ea943","type":"inject","z":"630ec83376dcf61e","g":"e7312c9e8691b31d","name":"Update Config","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":760,"y":420,"wires":[["195b7d44dc25090c"]]},{"id":"1de68601b7e4fcbc","type":"join","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Join parts and wait for new","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":740,"y":620,"wires":[["4b22d9213119e9ed"]]},{"id":"4b22d9213119e9ed","type":"function","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Check parts completed","func":"function checkParts(array) {\n    let completedParts = null; // send to port 1\n    const incompleteParts = []; // send to port 2\n\n    // group chunks by UUID\n    const groupedParts = array.reduce((acc, obj) => {\n        acc[obj.uuid] = acc[obj.uuid] || [];\n        acc[obj.uuid].push(obj);\n        return acc;\n    }, {});\n\n    for (const uuid in groupedParts) {\n        const sameIdParts = groupedParts[uuid];\n        const totalParts = sameIdParts[0].totalParts;\n        const receivedParts = sameIdParts.map(part => part.part);\n\n        if (receivedParts.length === totalParts &&\n            receivedParts.every(part => receivedParts.includes(part))) {\n            // only put first completed scan result in port 1, rest in port 2\n            if (!completedParts) {\n                completedParts = sameIdParts;\n            } else {\n                incompleteParts.push(sameIdParts);\n            }\n        } else {\n            incompleteParts.push(sameIdParts);\n        }\n    }\n    if (completedParts !== null) {\n        node.send([{ payload: completedParts}, null]);\n    }\n    incompleteParts.forEach(sameIdParts => {\n        sameIdParts.forEach(part => {\n            node.send([null, { payload: part }]);\n        });\n    });\n    node.done();\n}\n\ncheckParts(msg.payload);","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":700,"wires":[["3783943dc69b393a"],["1de68601b7e4fcbc","d1a757fe92f6965b"]],"outputLabels":["complete","incomplete"]},{"id":"fd92d776b1a844a9","type":"json","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":620,"wires":[["1de68601b7e4fcbc"]]},{"id":"46414c9aa4b414ad","type":"debug","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Completed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":720,"wires":[]},{"id":"f8c6a97e8ca2e959","type":"change","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"new part","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["fd92d776b1a844a9"]]},{"id":"fd2418ee55b97852","type":"mqtt in","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"","topic":"roomUtilization/scans/+","qos":"2","datatype":"json","broker":"1cba11149853fd8c","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":620,"wires":[["f8c6a97e8ca2e959"]]},{"id":"b151d3fd82d4075d","type":"exec","z":"630ec83376dcf61e","g":"b80390a00df50824","command":"cd classify;python3 countSmartphones.py","addpay":"filepath","append":"","useSpawn":"false","timer":"30","winHide":true,"oldrc":false,"name":"Count Smartphones","x":180,"y":840,"wires":[["c4db9b58f96ea960"],["845e93645d7806ab"],["49827c09f1bcfc86"]]},{"id":"c4db9b58f96ea960","type":"json","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":860,"wires":[["9ade60dcc2e9fbeb"]]},{"id":"845e93645d7806ab","type":"debug","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Debug error output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":920,"wires":[]},{"id":"a9345311884dd855","type":"influxdb out","z":"630ec83376dcf61e","g":"b80390a00df50824","influxdb":"d017f662582760c5","name":"Send to DB","measurement":"ScanResult","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"enrico","bucket":"PEOPLE_COUNTER","x":790,"y":900,"wires":[]},{"id":"9ade60dcc2e9fbeb","type":"debug","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Debug DB data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":860,"wires":[]},{"id":"a5b81aaae8588416","type":"file","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Write JSON file","filename":"\"classify/\"&msg.filepath","filenameType":"jsonata","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":700,"y":760,"wires":[["b151d3fd82d4075d"]]},{"id":"3783943dc69b393a","type":"function","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Merge Parts","func":"function mergeAndFilterDuplicates(data) {\n    const mergedResults = [];\n    const firstItem = data[0];\n\n    // Merge and filter scanresult arrays\n    data.forEach(item => {\n        item.scanresult.forEach(scan => {\n            const existingScan = mergedResults.find(existing => existing.addr === scan.addr);\n            if (!existingScan) {\n                mergedResults.push(scan);\n            } else {\n                // Log duplicate as error\n                console.error(`Duplicate found: ${scan.addr}`);\n            }\n        });\n    });\n\n    // Add other properties to the merged results\n    const mergedObject = {\n        timestamp_utc: firstItem.timestamp_utc,\n        room: firstItem.room,\n        uuid: firstItem.uuid,\n        scanresult: mergedResults\n    };\n\n    return mergedObject;\n}\n\nmsg.payload = mergeAndFilterDuplicates(msg.payload);\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":760,"wires":[["46414c9aa4b414ad","82f12933ead921f4"]]},{"id":"ace979e4420290b1","type":"json","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"To JSON File","property":"payload","action":"str","pretty":true,"x":510,"y":760,"wires":[["a5b81aaae8588416"]]},{"id":"d1a757fe92f6965b","type":"debug","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Incomplete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":660,"wires":[]},{"id":"82f12933ead921f4","type":"change","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Set File Path","rules":[{"t":"set","p":"filepath","pt":"msg","to":"msg.payload.uuid&\".json\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":760,"wires":[["ace979e4420290b1"]]},{"id":"49827c09f1bcfc86","type":"file","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Delete JSON file","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":480,"y":980,"wires":[[]]},{"id":"c0cb98991f737aa4","type":"function","z":"630ec83376dcf61e","g":"b80390a00df50824","name":"Format data","func":"msg.payload = {\n    \"timestamp\": new Date().toISOString(),\n    \"Room\": msg.payload.room,\n    \"Smartphones\": msg.payload.smartphones\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":820,"wires":[[]]},{"id":"8057319203a71355","type":"comment","z":"630ec83376dcf61e","g":"e7312c9e8691b31d","name":"Update the config","info":"","x":750,"y":380,"wires":[]},{"id":"69dac61878054305","type":"join","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Join parts and wait for new","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":840,"y":1480,"wires":[["d07b02283202aacd"]]},{"id":"d07b02283202aacd","type":"function","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Check parts completed","func":"function checkParts(array) {\n    let completedParts = null; // send to port 1\n    const incompleteParts = []; // send to port 2\n\n    // group chunks by UUID\n    const groupedParts = array.reduce((acc, obj) => {\n        acc[obj.uuid] = acc[obj.uuid] || [];\n        acc[obj.uuid].push(obj);\n        return acc;\n    }, {});\n\n    for (const uuid in groupedParts) {\n        const sameIdParts = groupedParts[uuid];\n        const totalParts = sameIdParts[0].totalParts;\n        const receivedParts = sameIdParts.map(part => part.part);\n\n        if (receivedParts.length === totalParts &&\n            receivedParts.every(part => receivedParts.includes(part))) {\n            // only put first completed scan result in port 1, rest in port 2\n            if (!completedParts) {\n                completedParts = sameIdParts;\n            } else {\n                incompleteParts.push(sameIdParts);\n            }\n        } else {\n            incompleteParts.push(sameIdParts);\n        }\n    }\n    if (completedParts !== null) {\n        node.send([{ payload: completedParts}, null]);\n    }\n    incompleteParts.forEach(sameIdParts => {\n        sameIdParts.forEach(part => {\n            node.send([null, { payload: part }]);\n        });\n    });\n    node.done();\n}\n\ncheckParts(msg.payload);","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1560,"wires":[["33f367e7f04dae21"],["69dac61878054305","863d1cde9938d720"]],"outputLabels":["complete","incomplete"]},{"id":"e0cadfed8ecc1224","type":"json","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":1480,"wires":[["69dac61878054305"]]},{"id":"a5f7a5396a822bde","type":"debug","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Completed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1580,"wires":[]},{"id":"745acb1babc7edb2","type":"change","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"new part","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1480,"wires":[["e0cadfed8ecc1224"]]},{"id":"82290837ffd06189","type":"exec","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","command":"cd classify;python3 countSmartphones.py","addpay":"filepath","append":"","useSpawn":"false","timer":"30","winHide":true,"oldrc":false,"name":"Count Smartphones","x":280,"y":1700,"wires":[["34b355b7076fe21c"],["76409c7a7dc8ceac"],["7c309b8e7e323d9b"]]},{"id":"34b355b7076fe21c","type":"json","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":1720,"wires":[["5a309bb2ddb9d0d4"]]},{"id":"76409c7a7dc8ceac","type":"debug","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Debug error output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1780,"wires":[]},{"id":"de589c37f976b00d","type":"influxdb out","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","influxdb":"d017f662582760c5","name":"Send to DB","measurement":"ScanResult","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"enrico","bucket":"PEOPLE_COUNTER","x":890,"y":1760,"wires":[]},{"id":"5a309bb2ddb9d0d4","type":"debug","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Debug DB data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":1720,"wires":[]},{"id":"449f18aabf46820a","type":"file","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Write JSON file","filename":"\"classify/\"&msg.filepath","filenameType":"jsonata","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":800,"y":1620,"wires":[["82290837ffd06189"]]},{"id":"33f367e7f04dae21","type":"function","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Merge Parts","func":"function mergeAndFilterDuplicates(data) {\n    const mergedResults = [];\n    const firstItem = data[0];\n\n    // Merge and filter scanresult arrays\n    data.forEach(item => {\n        item.scanresult.forEach(scan => {\n            const existingScan = mergedResults.find(existing => existing.addr === scan.addr);\n            if (!existingScan) {\n                mergedResults.push(scan);\n            } else {\n                // Log duplicate as error\n                console.error(`Duplicate found: ${scan.addr}`);\n            }\n        });\n    });\n\n    // Add other properties to the merged results\n    const mergedObject = {\n        timestamp_utc: firstItem.timestamp_utc,\n        room: firstItem.room,\n        uuid: firstItem.uuid,\n        scanresult: mergedResults\n    };\n\n    return mergedObject;\n}\n\nmsg.payload = mergeAndFilterDuplicates(msg.payload);\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1620,"wires":[["a5f7a5396a822bde","9695e7f2e2f2320f"]]},{"id":"9b1e943cddcca6aa","type":"json","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"To JSON File","property":"payload","action":"str","pretty":true,"x":610,"y":1620,"wires":[["449f18aabf46820a"]]},{"id":"863d1cde9938d720","type":"debug","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Incomplete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":1520,"wires":[]},{"id":"9695e7f2e2f2320f","type":"change","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Set File Path","rules":[{"t":"set","p":"filepath","pt":"msg","to":"msg.payload.uuid&\".json\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1620,"wires":[["9b1e943cddcca6aa"]]},{"id":"7c309b8e7e323d9b","type":"file","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Delete JSON file","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":580,"y":1840,"wires":[[]]},{"id":"a2da4d419d75e8e3","type":"function","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Format data","func":"msg.payload = {\n    \"timestamp\": new Date().toISOString(),\n    \"Room\": msg.payload.room,\n    \"Smartphones\": msg.payload.smartphones\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1680,"wires":[[]]},{"id":"ddd3127baca21d04","type":"inject","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Part (1/2) UUID 1 (Smartphones 2)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"timestamp_utc\": \"5/3/2024 20:54\",     \"room\": \"myRoom\",     \"part\": 1,     \"uuid\": \"4e78f247e9d5d7689f90967d50ef0458\",     \"totalParts\": 2,     \"scanresult\": [         {             \"connAttempts\": 1,             \"rssi\": -77,             \"addr\": \"f0:b3:ec:1e:fd:f6\",             \"connectable\": true,             \"connSuccessful\": true,             \"descriptor\": null,             \"manufacturerCode\": 76         },         {             \"connAttempts\": 0,             \"rssi\": -43,             \"addr\": \"52:95:d6:25:86:9d\",             \"connectable\": false,             \"connSuccessful\": false,             \"descriptor\": \"Phone\",             \"manufacturerCode\": 76         },         {             \"connAttempts\": 1,             \"rssi\": -79,             \"addr\": \"78:39:4e:38:2a:ef\",             \"connectable\": true,             \"connSuccessful\": true,             \"descriptor\": \"Apple Inc. iPhone15,3\",             \"manufacturerCode\": 76         }     ] }","payloadType":"str","x":220,"y":1460,"wires":[["745acb1babc7edb2"]]},{"id":"9639e76df707ac29","type":"mqtt in","z":"630ec83376dcf61e","d":true,"g":"bd77f382bb9fce85","name":"","topic":"roomUtilization/scans/+","qos":"2","datatype":"json","broker":"1cba11149853fd8c","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":1940,"wires":[["2f84b3e265d8baf1"]]},{"id":"2f84b3e265d8baf1","type":"json","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"","property":"payload","action":"str","pretty":true,"x":370,"y":1940,"wires":[["6eb21c34089ebe1a"]]},{"id":"6eb21c34089ebe1a","type":"file","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"","filename":"test.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":520,"y":1940,"wires":[[]]},{"id":"fef7c31783107b35","type":"inject","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Part (2/2) UUID 1 (Smartphones 2)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"timestamp_utc\": \"5/3/2024 20:54\",     \"room\": \"myRoom\",     \"part\": 2,     \"uuid\": \"4e78f247e9d5d7689f90967d50ef0458\",     \"totalParts\": 2,     \"scanresult\": [         {             \"connAttempts\": 1,             \"rssi\": -77,             \"addr\": \"f0:b3:ec:1e:fd:f6\",             \"connectable\": true,             \"connSuccessful\": true,             \"descriptor\": null,             \"manufacturerCode\": 76         },         {             \"connAttempts\": 0,             \"rssi\": -43,             \"addr\": \"52:95:d6:25:86:9d\",             \"connectable\": false,             \"connSuccessful\": false,             \"descriptor\": \"Phone\",             \"manufacturerCode\": 76         },         {             \"connAttempts\": 1,             \"rssi\": -79,             \"addr\": \"78:39:4e:38:2a:ef\",             \"connectable\": true,             \"connSuccessful\": true,             \"descriptor\": \"Apple Inc. iPhone15,3\",             \"manufacturerCode\": 76         }     ] }","payloadType":"str","x":220,"y":1500,"wires":[["745acb1babc7edb2"]]},{"id":"ab5b759bc6663f7e","type":"inject","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Part (1/1) UUID 2 (Smartphones 0)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{     \"timestamp_utc\": \"5/3/2024 20:54\",     \"room\": \"myRoom\",     \"part\": 1,     \"uuid\": \"4e78f247e9d5d7689f90967d50ef0459\",     \"totalParts\": 1,     \"scanresult\": [         {             \"connAttempts\": 1,             \"rssi\": -77,             \"addr\": \"f0:b3:ec:1e:fd:f6\",             \"connectable\": true,             \"connSuccessful\": true,             \"descriptor\": null,             \"manufacturerCode\": 76         },         {             \"connAttempts\": 0,             \"rssi\": -43,             \"addr\": \"52:95:d6:25:86:9d\",             \"connectable\": false,             \"connSuccessful\": false,             \"descriptor\": null,             \"manufacturerCode\": 76         },         {             \"connAttempts\": 1,             \"rssi\": -79,             \"addr\": \"78:39:4e:38:2a:ef\",             \"connectable\": true,             \"connSuccessful\": true,             \"descriptor\": null,             \"manufacturerCode\": 76         }     ] }","payloadType":"str","x":220,"y":1540,"wires":[["745acb1babc7edb2"]]},{"id":"1992905d9d38fe26","type":"comment","z":"630ec83376dcf61e","g":"bd77f382bb9fce85","name":"Write raw incoming JSon to test.json","info":"","x":220,"y":1880,"wires":[]}]