Interface/nodeRed.json
[{"id":"46a899bac6176265","type":"subflow","name":"Get descriptors for room","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"7d05bd8fb88b51c1"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"9199edbd870e1026","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"7d05bd8fb88b51c1","type":"function","z":"46a899bac6176265","name":"Get descriptors for room","func":"msg.query = `from(bucket: \"PEOPLE_COUNTER\")\n  |> range(start: -${msg.payload.start}m)  \n  |> filter(fn: (r) => r._measurement == \"ble_scans\")\n  |> filter(fn: (r) => r._field == \"descriptor\")\n  |> filter(fn: (r) => r.room == \"${msg.payload.room}\")\n  |> group(columns: [\"descriptor\"])`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":80,"wires":[["9199edbd870e1026"]]},{"id":"9199edbd870e1026","type":"influxdb in","z":"46a899bac6176265","influxdb":"d017f662582760c5","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"HTW","x":480,"y":80,"wires":[[]]},{"id":"1a053bba7f71d7c4","type":"subflow","name":"Get scans for all rooms","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"2c68ade9e1395306"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"5cfa245608488520","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2c68ade9e1395306","type":"function","z":"1a053bba7f71d7c4","name":"Get scans for all rooms","func":"msg.query = `from(bucket: \"PEOPLE_COUNTER\")\n  |> range(start: -${msg.payload.start}m)  \n  |> filter(fn: (r) => r._measurement == \"ble_scans\")\n  |> filter(fn: (r) => r[\"_field\"] == \"connAttempts\" or r[\"_field\"] == \"connSuccessful\" or r[\"_field\"] == \"descriptor\" or r[\"_field\"] == \"connectable\" or r[\"_field\"] == \"manufacturerCode\" or r[\"_field\"] == \"rssi\")\n`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":80,"wires":[["5cfa245608488520"]]},{"id":"5cfa245608488520","type":"influxdb in","z":"1a053bba7f71d7c4","influxdb":"d017f662582760c5","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"HTW","x":480,"y":80,"wires":[[]]},{"id":"9618533e74774768","type":"subflow","name":"Get scans for room","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ff0226e489544f81"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"59167e49ba80998f","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ff0226e489544f81","type":"function","z":"9618533e74774768","name":"Get scans for room","func":"msg.query = `from(bucket: \"PEOPLE_COUNTER\")\n  |> range(start: -${msg.payload.start}m)  \n  |> filter(fn: (r) => r._measurement == \"ble_scans\")\n  |> filter(fn: (r) => r.room == \"${msg.payload.room}\")\n  |> filter(fn: (r) => r._field == \"descriptor\")\n  |> group(columns: [\"descriptor\"])`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[["59167e49ba80998f"]]},{"id":"59167e49ba80998f","type":"influxdb in","z":"9618533e74774768","influxdb":"d017f662582760c5","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"HTW","x":440,"y":80,"wires":[[]]},{"id":"665136228e76e8ce","type":"subflow","name":"Count devices in all rooms","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b6b67703939554f7"}]}],"out":[{"x":830,"y":80,"wires":[{"id":"27fb53d3949cd664","port":0}]},{"x":700,"y":140,"wires":[{"id":"2e219cfcad9404c7","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","outputLabels":["Count","Query Output"]},{"id":"2e219cfcad9404c7","type":"influxdb in","z":"665136228e76e8ce","influxdb":"d017f662582760c5","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"HTW","x":500,"y":80,"wires":[["27fb53d3949cd664"]]},{"id":"27fb53d3949cd664","type":"function","z":"665136228e76e8ce","name":"Count","func":"\nmsg.payload = msg.payload.length\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":80,"wires":[[]]},{"id":"b6b67703939554f7","type":"function","z":"665136228e76e8ce","name":"Get all rooms scans count","func":"msg.query = `from(bucket: \"PEOPLE_COUNTER\")\n  |> range(start: -${ msg.payload.start }m)\n  |> filter(fn: (r) => r._measurement == \"ble_scans\")\n  |> filter(fn: (r) => r._field == \"descriptor\")`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["2e219cfcad9404c7"]]},{"id":"2148fa14ad297fc5","type":"subflow","name":"Write input.json","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1d08286d8ff1b7cc"}]}],"out":[{"x":880,"y":80,"wires":[{"id":"449f18aabf46820a","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9695e7f2e2f2320f","type":"change","z":"2148fa14ad297fc5","name":"Set File Path","rules":[{"t":"set","p":"filepath","pt":"msg","to":"msg.payload.uuid&\".json\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["9b1e943cddcca6aa"]]},{"id":"9b1e943cddcca6aa","type":"json","z":"2148fa14ad297fc5","name":"To JSON File","property":"payload","action":"str","pretty":true,"x":550,"y":80,"wires":[["449f18aabf46820a"]]},{"id":"449f18aabf46820a","type":"file","z":"2148fa14ad297fc5","name":"Write JSON file","filename":"\"classify/\"&msg.filepath","filenameType":"jsonata","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":740,"y":80,"wires":[[]]},{"id":"1d08286d8ff1b7cc","type":"function","z":"2148fa14ad297fc5","name":"Format data","func":"var descriptors = [];\n\nmsg.payload.forEach(function (entry) {\n    var descriptor = entry._value;\n    var time = new Date(entry._time).getTime();\n\n    var descriptorObj = {\n        descriptor: descriptor,\n        time: time\n    };\n\n    descriptors.push(descriptorObj);\n});\n\nmsg.payload = {\n    \"descriptors\": descriptors,\n    \"uuid\": crypto.randomBytes(16).toString(\"hex\")\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"crypto","module":"crypto"}],"x":190,"y":80,"wires":[["9695e7f2e2f2320f"]]},{"id":"cf7f46176bad47e0","type":"subflow","name":"Merge Scan Parts","info":"","category":"","in":[{"x":140,"y":80,"wires":[{"id":"745acb1babc7edb2"}]}],"out":[{"x":1290,"y":140,"wires":[{"id":"bd8ad9e230f9ec7c","port":0}]},{"x":930,"y":200,"wires":[{"id":"d07b02283202aacd","port":1}]}],"env":[],"meta":{},"color":"#DDAA99","inputLabels":["Scan Result Parts"],"outputLabels":["Completed Scan Result","Incompleted Scan Result"],"icon":"node-red/batch.svg"},{"id":"33f367e7f04dae21","type":"function","z":"cf7f46176bad47e0","name":"Merge Parts","func":"function mergeAndFilterDuplicates(data) {\n    const mergedResults = [];\n    const firstItem = data[0];\n\n    // Merge and filter scanresult arrays\n    data.forEach(item => {\n        item.scanresult.forEach(scan => {\n            const existingScan = mergedResults.find(existing => existing.addr === scan.addr);\n            if (!existingScan) {\n                mergedResults.push(scan);\n            } else {\n                // Log duplicate as error\n                console.error(`Duplicate found: ${scan.addr}`);\n            }\n        });\n    });\n\n    // Add other properties to the merged results\n    const mergedObject = {\n        timestamp_utc: firstItem.timestamp_utc,\n        room: firstItem.room,\n        uuid: firstItem.uuid,\n        scanresult: mergedResults\n    };\n\n    return mergedObject;\n}\n\nmsg.payload = mergeAndFilterDuplicates(msg.payload);\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":140,"wires":[["bd8ad9e230f9ec7c"]]},{"id":"d07b02283202aacd","type":"function","z":"cf7f46176bad47e0","name":"Check parts completed","func":"function checkParts(array) {\n    let completedParts = null; // send to port 1\n    const incompleteParts = []; // send to port 2\n\n    // group chunks by UUID\n    const groupedParts = array.reduce((acc, obj) => {\n        acc[obj.uuid] = acc[obj.uuid] || [];\n        acc[obj.uuid].push(obj);\n        return acc;\n    }, {});\n\n    for (const uuid in groupedParts) {\n        const sameIdParts = groupedParts[uuid];\n        const totalParts = sameIdParts[0].totalParts;\n        const receivedParts = sameIdParts.map(part => part.part);\n\n        if (receivedParts.length === totalParts &&\n            receivedParts.every(part => receivedParts.includes(part))) {\n            // only put first completed scan result in port 1, rest in port 2\n            if (!completedParts) {\n                completedParts = sameIdParts;\n            } else {\n                incompleteParts.push(sameIdParts);\n            }\n        } else {\n            incompleteParts.push(sameIdParts);\n        }\n    }\n    if (completedParts !== null) {\n        node.send([{ payload: completedParts}, null]);\n    }\n    incompleteParts.forEach(sameIdParts => {\n        sameIdParts.forEach(part => {\n            node.send([null, { payload: part }]);\n        });\n    });\n    node.done();\n}\n\ncheckParts(msg.payload);","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":160,"wires":[["33f367e7f04dae21"],["69dac61878054305"]],"outputLabels":["complete","incomplete"]},{"id":"69dac61878054305","type":"join","z":"cf7f46176bad47e0","name":"Join parts and wait for new","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":80,"wires":[["d07b02283202aacd"]]},{"id":"e0cadfed8ecc1224","type":"json","z":"cf7f46176bad47e0","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":80,"wires":[["69dac61878054305"]]},{"id":"745acb1babc7edb2","type":"change","z":"cf7f46176bad47e0","name":"new part","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":80,"wires":[["e0cadfed8ecc1224"]]},{"id":"bd8ad9e230f9ec7c","type":"function","z":"cf7f46176bad47e0","name":"Format data","func":"function formatData(data) {\n    var roomString = data.room;\n\n    var scanResults = data.scanresult.map(function (result) {\n        return {\n            connAttempts: result.connAttempts,\n            rssi: result.rssi,\n            connectable: result.connectable,\n            connSuccessful: result.connSuccessful,\n            descriptor: result.descriptor == null ? \"None\" : result.descriptor,\n            manufacturerCode: result.manufacturerCode == null ? -1 : result.manufacturerCode\n        };\n    });\n\n    var pairs = [];\n    for (var i = 0; i < scanResults.length; i++) {\n        let addr = crypto.createHash('sha256').update(data.scanresult[i].addr).digest('hex'); // Hash the MAC address\n        var pair = [\n            { connAttempts: scanResults[i].connAttempts, \n            rssi: scanResults[i].rssi, \n            connectable: scanResults[i].connectable, \n            connSuccessful: scanResults[i].connSuccessful, \n            descriptor: scanResults[i].descriptor, \n            manufacturerCode: scanResults[i].manufacturerCode \n            }, { room: roomString, addr: addr }];\n        pairs.push(pair);\n    }\n\n    return pairs;\n}\n\nmsg.payload = formatData(msg.payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[{"var":"crypto","module":"crypto"}],"x":1070,"y":140,"wires":[[]]},{"id":"14dc80c0464fd823","type":"subflow","name":"Init Py Smartphone Counter","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"d4b1fbc4498f3577"},{"id":"82db18f1829fd9db"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"371efcc39240c573","type":"file","z":"14dc80c0464fd823","name":"Make countSmartphones.py","filename":"classify/countSmartphones.py","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":500,"y":80,"wires":[["8f15dce2b08a242b"]]},{"id":"d4b1fbc4498f3577","type":"function","z":"14dc80c0464fd823","name":"countSmarthphones.py","func":"var pythonCode = `\nimport json\nimport sys\n\ndef rule_based_classification(descriptor, knownSmartphones):\n    for knownSmartphone in knownSmartphones:\n        if knownSmartphone.lower().replace(\" \", \"\") in descriptor.lower().replace(\" \", \"\"):\n            return True\n    return False\n\ndef appendUnknownDeviceIfNotAlreadyIn(unknownDevices, descriptor):\n    if descriptor not in unknownDevices:\n        unknownDevices.append(descriptor)\n\ninputFile = sys.argv[1]\nif not inputFile:\n    print(\"No input file specified\")\n    exit(1)\n\nwith open(inputFile, \"r\") as file:\n    json_data = json.load(file)\n\nwith open(\"smartphones.json\", \"r\") as file:\n    knownSmartphones = json.load(file)\n\nwith open(\"unknownDevices.json\", \"r\") as file:\n    unknownDevices = json.load(file)\n\ntime_counts = {}\n\nfor result in json_data[\"descriptors\"]:\n    descriptor = result[\"descriptor\"]\n    time = result[\"time\"]\n    if descriptor and rule_based_classification(descriptor, knownSmartphones):\n        if time not in time_counts:\n            time_counts[time] = 0\n        time_counts[time] += 1\n    else:\n        appendUnknownDeviceIfNotAlreadyIn(unknownDevices, descriptor)\n\nwith open(\"unknownDevices.json\", \"w\") as file:\n    json.dump(unknownDevices, file)\n\n# Append smartphones to the json_data\njson_data[\"smartphones\"] = time_counts\n\nprint(json.dumps(json_data))\n\n\n`;\n\nmsg.payload = pythonCode;\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[["371efcc39240c573"]]},{"id":"8f15dce2b08a242b","type":"function","z":"14dc80c0464fd823","name":"Empty JSon Array","func":"msg.payload = '[ ]';\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":80,"wires":[["ec239e97428a2c8c"]]},{"id":"ec239e97428a2c8c","type":"file","z":"14dc80c0464fd823","name":"Make unknownDevices.json","filename":"classify/unknownDevices.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1000,"y":80,"wires":[[]]},{"id":"82db18f1829fd9db","type":"file","z":"14dc80c0464fd823","name":"Make Known smartphones.json","filename":"classify/smartphones.json","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":250,"y":120,"wires":[[]]},{"id":"630ec83376dcf61e","type":"tab","label":"Main","disabled":false,"info":"","env":[]},{"id":"5fcbc5f9fccf1bf3","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b7a75e067edc4298","518f836f8d5a6738","c0f57dbf6e71f6fb","6101a90714ce27a1","c98df91ffece67dd","8dd0725bc8ef7363","b4fe10100fc47db7","4ef035894ef8ad74","0c46e6446a8632f2","15d1640fdce173b1"],"x":34,"y":19,"w":512,"h":442},{"id":"3f152ee3f3a83001","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["27ce5e6978a41ef6","9521c0ff78c6a6e9","27e4ba44fd7329a2"],"x":634,"y":19,"w":452,"h":142},{"id":"b03a3b260b8c7fcc","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["195b7d44dc25090c","4a5e25d5e1ebd799","0b562300de2a2886","a4e83140de7ea943","8057319203a71355"],"x":634,"y":259,"w":452,"h":202},{"id":"70b63a0920406065","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ed73cd14e04c1822","6d7fa78d0c906ef3","8a7346875f82a369","9a88ef3f15c18975","7acdebfdd4bd5e0f","63b4628274892c95","77546801937f5206","6cbc2e4b6b7183d6","646cd2989dbb9bf0","d41f2b17debfdb73","e38dc88e648aad4b","a4e387db94c48909","63e8470b94493eec"],"x":34,"y":959,"w":692,"h":302},{"id":"8f8eff7ec1943c78","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["07acc6bbbce67d48","48ef0f03b43b9850","82290837ffd06189","34b355b7076fe21c","76409c7a7dc8ceac","de589c37f976b00d","7c309b8e7e323d9b","9639e76df707ac29","2f84b3e265d8baf1","6eb21c34089ebe1a","1992905d9d38fe26","d0141fa50e9f4f4b","a5f7a5396a822bde","863d1cde9938d720","ddf9fd025d2e0ecd","2e8ef4acf9be56a2","47634d4c994390b2","c182c75f2b7e6229","0bb0f82d70705bf0","d233c6250ac2779a","e0a0fd01fdebfc02","ebae435d53c90a75","5ea41171c818fd33","e85bce37df53ca1c","b14a3bf4fadd4d26"],"x":34,"y":1319,"w":1112,"h":502},{"id":"6b4beff6b63e7216","type":"group","z":"630ec83376dcf61e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["950d5b9f8d42f71f","b78cddb2f08280fa","fd2418ee55b97852","d6a9d00d67cc75a4","5b0487e8f8d7f77a","f4c903a9e0f96b5b","f9376660028320e0","591686049d8493de","d82b24ced00792ba","e6bc4e1cf2ec1bed","34f3f2bed7a945c0","322341e945bd751e","84e8dbadc29c55f1","bcf9a80ef2077054","13278b09b08f89cb","0656893f2638576e"],"x":34,"y":519,"w":1182,"h":362},{"id":"15d1640fdce173b1","type":"junction","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","x":320,"y":280,"wires":[["c0f57dbf6e71f6fb","0c46e6446a8632f2"]]},{"id":"b7a75e067edc4298","type":"inject","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Scan myRoom","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"myRoom","payloadType":"str","x":160,"y":140,"wires":[["15d1640fdce173b1"]]},{"id":"518f836f8d5a6738","type":"inject","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Scan all rooms","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"all","payloadType":"str","x":160,"y":220,"wires":[["15d1640fdce173b1"]]},{"id":"c0f57dbf6e71f6fb","type":"mqtt out","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Trigger Scan","topic":"roomUtilization/doScan","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1cba11149853fd8c","x":430,"y":240,"wires":[]},{"id":"6101a90714ce27a1","type":"comment","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Trigger manually","info":"# Scan result\n## Subscribe to\nroomUtilization/scans/myRoom\nor\nroomUtilization/scans/+\n\n## Publish to\nroomUtilization/scans/myRoom\n\n# Trigger\n## Subscribe to\nroomUtilization/doScan/+\n\n## Publish to\nroomUtilization/doScan/all\nor\nroomUtilization/doScan/myRoom","x":160,"y":100,"wires":[]},{"id":"c98df91ffece67dd","type":"inject","z":"630ec83376dcf61e","d":true,"g":"5fcbc5f9fccf1bf3","name":"Scan myRoom","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"myRoom","payloadType":"str","x":160,"y":340,"wires":[["15d1640fdce173b1"]]},{"id":"8dd0725bc8ef7363","type":"inject","z":"630ec83376dcf61e","d":true,"g":"5fcbc5f9fccf1bf3","name":"Scan all rooms","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"all","payloadType":"str","x":160,"y":420,"wires":[["15d1640fdce173b1"]]},{"id":"b4fe10100fc47db7","type":"comment","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Auto Trigger every 2min","info":"","x":180,"y":300,"wires":[]},{"id":"27ce5e6978a41ef6","type":"inject","z":"630ec83376dcf61e","g":"3f152ee3f3a83001","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"Phone\",\"iPhone\",\"Samsung Galaxy\",\"Google Pixel\",\"OnePlus\",\"Xiaomi\",\"Huawei\",\"LG\",\"Sony Xperia\",\"Motorola\",\"Nokia\",\"HTC\",\"BlackBerry\",\"Lenovo\",\"ASUS\",\"OPPO\",\"Vivo\",\"Realme\",\"Samsung Galaxy S21\",\"iPhone 12\",\"Google Pixel 5\",\"OnePlus 9\",\"Xiaomi Mi 11\",\"Huawei P40\",\"LG Velvet\",\"Sony Xperia 1 II\",\"Motorola Moto G Power\",\"Nokia 8.3\",\"HTC U12+\",\"BlackBerry Key2\",\"Lenovo Legion Phone Duel\",\"ASUS ROG Phone 5\",\"OPPO Find X3 Pro\",\"Vivo X60 Pro\",\"Realme 8 Pro\",\"Samsung Galaxy Note 20 Ultra\",\"iPhone SE\",\"Google Pixel 4a\",\"OnePlus Nord\",\"Xiaomi Redmi Note 10\",\"Huawei Mate 40 Pro\",\"LG Wing\",\"Sony Xperia 5 II\",\"Motorola Razr\",\"Nokia 5.4\",\"HTC Desire 20+\",\"BlackBerry Evolve\",\"Lenovo K12 Note\",\"ASUS ZenFone 7 Pro\",\"OPPO Reno5 Pro+\",\"Vivo V20 Pro\",\"Realme X7 Pro\",\"Samsung Galaxy Z Fold 2\",\"iPhone 11\",\"Google Pixel 3a\",\"OnePlus 8T\",\"Xiaomi Mi 10T Pro\",\"Huawei P30 Pro\",\"LG G8 ThinQ\"]","payloadType":"json","x":730,"y":120,"wires":[["27e4ba44fd7329a2"]]},{"id":"07acc6bbbce67d48","type":"comment","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Some Mock Input","info":"","x":170,"y":1400,"wires":[]},{"id":"4ef035894ef8ad74","type":"comment","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Trigger Scan","info":"","x":350,"y":60,"wires":[]},{"id":"950d5b9f8d42f71f","type":"comment","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Receive Scan Results","info":"","x":160,"y":560,"wires":[]},{"id":"b78cddb2f08280fa","type":"comment","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Collect the incoming scan results parts","info":"","x":450,"y":560,"wires":[]},{"id":"9521c0ff78c6a6e9","type":"comment","z":"630ec83376dcf61e","g":"3f152ee3f3a83001","name":"Init (Needed once)","info":"","x":770,"y":60,"wires":[]},{"id":"48ef0f03b43b9850","type":"comment","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Testing/Debugging","info":"","x":610,"y":1360,"wires":[]},{"id":"ed73cd14e04c1822","type":"file in","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Read unknownDevices.json","filename":"classify/unknownDevices.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":340,"y":1040,"wires":[["8a7346875f82a369"]]},{"id":"6d7fa78d0c906ef3","type":"inject","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1040,"wires":[["ed73cd14e04c1822"]]},{"id":"8a7346875f82a369","type":"debug","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Unknown Devices","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1040,"wires":[]},{"id":"9a88ef3f15c18975","type":"comment","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Utils","info":"","x":130,"y":1000,"wires":[]},{"id":"0c46e6446a8632f2","type":"debug","z":"630ec83376dcf61e","g":"5fcbc5f9fccf1bf3","name":"Scan trigger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":320,"wires":[]},{"id":"195b7d44dc25090c","type":"function","z":"630ec83376dcf61e","g":"b03a3b260b8c7fcc","name":"Create new Config","func":"var jsonData = {\n    \"NET\": true,\n    \"MQTT\": true,\n    \"SEND_MQTT\": true,\n    \"ALLOW_CONFIG_UPDATE\": true,\n    \"LOGGING\": true,\n    \"LOG_LEVEL\": 1,\n    \"NTP_HOST\": \"pool.ntp.org\",\n    \"SSID\": \"FunnyWifiName\",\n    \"NETWORK_KEY\": \"DefaultRouterPasswordThatYouShouldChange\",\n    \"MQTT_BROKER_ADDRESS\": \"localhost\",\n    \"MQTT_USER\": \"User\",\n    \"MQTT_PASSWORD\": \"Password123\",\n    \"MQTT_ROOM_NAME\": \"myRoom\",\n    \"MQTT_BASE_TOPIC\": \"roomUtilization/\",\n    \"TIME_BETWEEN_SCANS_MS\": 30000,\n    \"SCAN_DURATION_MS\": 10000,\n    \"SCAN_CONNECTION_TIMEOUT_MS\": 5000,\n    \"ACTIVE_SCAN\": true,\n    \"FILTER_RSSI\": -100\n};\n\nmsg.payload = jsonData\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":340,"wires":[["0b562300de2a2886"]]},{"id":"4a5e25d5e1ebd799","type":"mqtt out","z":"630ec83376dcf61e","g":"b03a3b260b8c7fcc","name":"Update Config","topic":"roomUtilization/updateConfig","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1cba11149853fd8c","x":960,"y":420,"wires":[]},{"id":"0b562300de2a2886","type":"json","z":"630ec83376dcf61e","g":"b03a3b260b8c7fcc","name":"config.json","property":"payload","action":"str","pretty":true,"x":770,"y":420,"wires":[["4a5e25d5e1ebd799"]]},{"id":"a4e83140de7ea943","type":"inject","z":"630ec83376dcf61e","g":"b03a3b260b8c7fcc","name":"Update Config","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":760,"y":340,"wires":[["195b7d44dc25090c"]]},{"id":"fd2418ee55b97852","type":"mqtt in","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"","topic":"roomUtilization/scans/+","qos":"2","datatype":"json","broker":"1cba11149853fd8c","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":660,"wires":[["5b0487e8f8d7f77a"]]},{"id":"8057319203a71355","type":"comment","z":"630ec83376dcf61e","g":"b03a3b260b8c7fcc","name":"Update the config (Please be careful with it)","info":"","x":830,"y":300,"wires":[]},{"id":"82290837ffd06189","type":"exec","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","command":"cd classify;python3 countSmartphones.py","addpay":"filepath","append":"","useSpawn":"false","timer":"30","winHide":true,"oldrc":false,"name":"Count Smartphones","x":780,"y":1600,"wires":[["34b355b7076fe21c"],["76409c7a7dc8ceac"],["7c309b8e7e323d9b"]]},{"id":"34b355b7076fe21c","type":"json","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"To Object","property":"payload","action":"obj","pretty":false,"x":140,"y":1660,"wires":[["e85bce37df53ca1c"]]},{"id":"76409c7a7dc8ceac","type":"debug","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Debug error output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1560,"wires":[]},{"id":"de589c37f976b00d","type":"influxdb out","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","influxdb":"d017f662582760c5","name":"Send to DB","measurement":"ble_scans","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"HTW","bucket":"PEOPLE_COUNTER","x":830,"y":1480,"wires":[]},{"id":"7c309b8e7e323d9b","type":"file","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Delete JSON file","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1010,"y":1640,"wires":[[]]},{"id":"9639e76df707ac29","type":"mqtt in","z":"630ec83376dcf61e","d":true,"g":"8f8eff7ec1943c78","name":"","topic":"roomUtilization/scans/+","qos":"2","datatype":"json","broker":"1cba11149853fd8c","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1780,"wires":[["2f84b3e265d8baf1"]]},{"id":"2f84b3e265d8baf1","type":"json","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"","property":"payload","action":"str","pretty":true,"x":350,"y":1780,"wires":[["6eb21c34089ebe1a"]]},{"id":"6eb21c34089ebe1a","type":"file","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"","filename":"test.json","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":500,"y":1780,"wires":[[]]},{"id":"1992905d9d38fe26","type":"comment","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Write raw incoming JSon to test.json","info":"","x":220,"y":1720,"wires":[]},{"id":"27e4ba44fd7329a2","type":"subflow:14dc80c0464fd823","z":"630ec83376dcf61e","g":"3f152ee3f3a83001","name":"Init Py Smartphone Counter","x":940,"y":120,"wires":[]},{"id":"d0141fa50e9f4f4b","type":"subflow:cf7f46176bad47e0","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Merge Scan Parts","x":630,"y":1480,"wires":[["a5f7a5396a822bde","de589c37f976b00d"],["863d1cde9938d720"]]},{"id":"a5f7a5396a822bde","type":"debug","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Completed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1440,"wires":[]},{"id":"863d1cde9938d720","type":"debug","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Incomplete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1520,"wires":[]},{"id":"ddf9fd025d2e0ecd","type":"subflow:2148fa14ad297fc5","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Write input.json","x":560,"y":1600,"wires":[["82290837ffd06189"]]},{"id":"2e8ef4acf9be56a2","type":"inject","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"","props":[{"p":"payload.start","v":"60","vt":"num"},{"p":"payload.room","v":"myRoom","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1600,"wires":[["b14a3bf4fadd4d26"]]},{"id":"47634d4c994390b2","type":"debug","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Query result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1560,"wires":[]},{"id":"c182c75f2b7e6229","type":"function","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Part (1/1) UUID 2 (Smartphones 1)","func":"function generateJson(data) {\n    var jsonData = {\n        \"timestamp_utc\": data.timestamp,\n        \"room\": \"myRoom\",\n        \"part\": 1,\n        \"uuid\": \"4e78f247e9d5d7689f90967d50ef0459\",\n        \"totalParts\": 1,\n        \"scanresult\": [\n            {\n                \"connAttempts\": 1,\n                \"rssi\": -77,\n                \"addr\": \"f0:b3:ec:1e:fd:f6\",\n                \"connectable\": true,\n                \"connSuccessful\": true,\n                \"descriptor\": \"Babbity\",\n                \"manufacturerCode\": 76\n            },\n            {\n                \"connAttempts\": 0,\n                \"rssi\": -43,\n                \"addr\": \"52:95:d6:25:86:9d\",\n                \"connectable\": false,\n                \"connSuccessful\": false,\n                \"descriptor\": \"Smartphone\",\n                \"manufacturerCode\": 76\n            },\n            {\n                \"connAttempts\": 1,\n                \"rssi\": -79,\n                \"addr\": \"78:39:4e:38:2a:ef\",\n                \"connectable\": true,\n                \"connSuccessful\": true,\n                \"descriptor\": \"Bibbity\",\n                \"manufacturerCode\": 76\n            }\n        ]\n    };\n\n    return jsonData;\n}\n\nmsg.payload = generateJson(msg.payload);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1520,"wires":[["d0141fa50e9f4f4b"]]},{"id":"0bb0f82d70705bf0","type":"inject","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1460,"wires":[["d233c6250ac2779a","ebae435d53c90a75"]]},{"id":"d233c6250ac2779a","type":"function","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Part (1/2) UUID 1 (Smartphones 2)","func":"function generateJson(data) {\n    var jsonData = {\n        \"timestamp_utc\": data.timestamp,\n        \"room\": \"myRoom\",\n        \"part\": 1,\n        \"uuid\": \"4e78f247e9d5d7689f90967d50ef0458\",\n        \"totalParts\": 2,\n        \"scanresult\": [\n            {\n                \"connAttempts\": 1,\n                \"rssi\": -77,\n                \"addr\": \"f0:b3:ec:1e:fd:f6\",\n                \"connectable\": true,\n                \"connSuccessful\": true,\n                \"descriptor\": \"Phone\",\n                \"manufacturerCode\": 76\n            },\n            {\n                \"connAttempts\": 0,\n                \"rssi\": -43,\n                \"addr\": \"52:95:d6:25:86:9d\",\n                \"connectable\": false,\n                \"connSuccessful\": false,\n                \"descriptor\": \"Bubu\",\n                \"manufacturerCode\": 76\n            },\n            {\n                \"connAttempts\": 1,\n                \"rssi\": -79,\n                \"addr\": \"78:39:4e:38:2a:ef\",\n                \"connectable\": true,\n                \"connSuccessful\": true,\n                \"descriptor\": \"Apple Inc. iPhone15,3\",\n                \"manufacturerCode\": 76\n            }]\n    }\n    return jsonData;\n}\n\nmsg.payload = generateJson(msg.payload);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1440,"wires":[["d0141fa50e9f4f4b"]]},{"id":"e0a0fd01fdebfc02","type":"inject","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"","props":[{"p":"payload.timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1520,"wires":[["c182c75f2b7e6229"]]},{"id":"ebae435d53c90a75","type":"function","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Part (2/2) UUID 1 (Smartphones 2)","func":"function generateJson(data) {\n    var jsonData = {\n        \"timestamp_utc\": data.timestamp,\n        \"room\": \"myRoom\",\n        \"part\": 2,\n        \"uuid\": \"4e78f247e9d5d7689f90967d50ef0458\",\n        \"totalParts\": 2,\n        \"scanresult\": [\n            {\n                \"connAttempts\": 1,\n                \"rssi\": -77,\n                \"addr\": \"f0:b3:ec:1e:fd:f6\",\n                \"connectable\": true,\n                \"connSuccessful\": true,\n                \"descriptor\": \"FooBar\",\n                \"manufacturerCode\": 76\n            },\n            {\n                \"connAttempts\": 0,\n                \"rssi\": -43,\n                \"addr\": \"52:95:d6:25:86:9d\",\n                \"connectable\": false,\n                \"connSuccessful\": false,\n                \"descriptor\": \"Phone\",\n                \"manufacturerCode\": 76\n            },\n            {\n                \"connAttempts\": 1,\n                \"rssi\": -79,\n                \"addr\": \"78:39:4e:38:2a:ef\",\n                \"connectable\": true,\n                \"connSuccessful\": true,\n                \"descriptor\": \"Apple Inc. iPhone15,3\",\n                \"manufacturerCode\": 76\n            }\n        ]\n    };\n\n    return jsonData;\n}\n\nmsg.payload = generateJson(msg.payload);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1480,"wires":[["d0141fa50e9f4f4b"]]},{"id":"5ea41171c818fd33","type":"debug","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1660,"wires":[]},{"id":"7acdebfdd4bd5e0f","type":"inject","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Last 60min","props":[{"p":"payload.start","v":"60","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1100,"wires":[["77546801937f5206"]]},{"id":"63b4628274892c95","type":"debug","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1100,"wires":[]},{"id":"e85bce37df53ca1c","type":"change","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"Format","rules":[{"t":"delete","p":"payload.uuid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1660,"wires":[["5ea41171c818fd33"]]},{"id":"77546801937f5206","type":"subflow:665136228e76e8ce","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"","x":360,"y":1100,"wires":[["63b4628274892c95"],[]]},{"id":"6cbc2e4b6b7183d6","type":"inject","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Last 60min","props":[{"p":"payload.start","v":"60","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1160,"wires":[["d41f2b17debfdb73"]]},{"id":"646cd2989dbb9bf0","type":"debug","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":1160,"wires":[]},{"id":"d41f2b17debfdb73","type":"subflow:9618533e74774768","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"","x":330,"y":1160,"wires":[["646cd2989dbb9bf0"]]},{"id":"e38dc88e648aad4b","type":"inject","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Last 60min","props":[{"p":"payload.start","v":"60","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1220,"wires":[["63e8470b94493eec"]]},{"id":"a4e387db94c48909","type":"debug","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1220,"wires":[]},{"id":"63e8470b94493eec","type":"subflow:1a053bba7f71d7c4","z":"630ec83376dcf61e","g":"70b63a0920406065","name":"","x":340,"y":1220,"wires":[["a4e387db94c48909"]]},{"id":"b14a3bf4fadd4d26","type":"subflow:46a899bac6176265","z":"630ec83376dcf61e","g":"8f8eff7ec1943c78","name":"","x":330,"y":1600,"wires":[["47634d4c994390b2","ddf9fd025d2e0ecd"]]},{"id":"d6a9d00d67cc75a4","type":"influxdb out","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","influxdb":"d017f662582760c5","name":"Send to DB","measurement":"ble_scans","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"HTW","bucket":"PEOPLE_COUNTER","x":590,"y":660,"wires":[]},{"id":"5b0487e8f8d7f77a","type":"subflow:cf7f46176bad47e0","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Merge Scan Parts","x":390,"y":660,"wires":[["f4c903a9e0f96b5b","d6a9d00d67cc75a4"],["f9376660028320e0"]]},{"id":"f4c903a9e0f96b5b","type":"debug","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Completed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"f9376660028320e0","type":"debug","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Incomplete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":700,"wires":[]},{"id":"591686049d8493de","type":"exec","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","command":"cd classify;python3 countSmartphones.py","addpay":"filepath","append":"","useSpawn":"false","timer":"30","winHide":true,"oldrc":false,"name":"Count Smartphones","x":700,"y":800,"wires":[["d82b24ced00792ba"],["e6bc4e1cf2ec1bed"],["34f3f2bed7a945c0"]]},{"id":"d82b24ced00792ba","type":"json","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"To Object","property":"payload","action":"obj","pretty":false,"x":900,"y":760,"wires":[["84e8dbadc29c55f1"]]},{"id":"e6bc4e1cf2ec1bed","type":"debug","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Debug error output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":800,"wires":[]},{"id":"34f3f2bed7a945c0","type":"file","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Delete JSON file","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":920,"y":840,"wires":[[]]},{"id":"322341e945bd751e","type":"subflow:2148fa14ad297fc5","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Write input.json","x":480,"y":800,"wires":[["591686049d8493de"]]},{"id":"84e8dbadc29c55f1","type":"change","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Format","rules":[{"t":"delete","p":"payload.uuid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":760,"wires":[["0656893f2638576e"]]},{"id":"bcf9a80ef2077054","type":"subflow:46a899bac6176265","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"","x":250,"y":800,"wires":[["322341e945bd751e"]]},{"id":"13278b09b08f89cb","type":"link in","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Room occupancy","links":[],"x":75,"y":800,"wires":[["bcf9a80ef2077054"]]},{"id":"0656893f2638576e","type":"link out","z":"630ec83376dcf61e","g":"6b4beff6b63e7216","name":"Smartphones","mode":"return","links":[],"x":1175,"y":760,"wires":[]},{"id":"1cba11149853fd8c","type":"mqtt-broker","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d017f662582760c5","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":"","rejectUnauthorized":false}]